<div class="page-container">
  <h1 class="login-title">Contact Us</h1>
  <div class="messageSent" *ngIf="messageState">
    <div class="data-container">
      <h3>Thank you for contacting us. We will be in touch shortly.</h3>
      <hr>
      <div class="formData">
        <h4>Name:</h4>
        {{ this.form.value.name }}
      </div>
      <div class="formData">
        <h4>Message:</h4>
        {{ this.form.value.message }}
      </div>
    </div>
  </div>
  <div *ngIf="!messageState" class="login-container">
    <form
      [formGroup]="form"
      action=""
      class="login-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-inputs-container">
        <!-- <input type="text" class="text-input" /> -->
        <mat-form-field class="example-full-width" class="example-full-width">
          <mat-label>Name: </mat-label>

          <input
            type="name"
            matInput
            [formControl]="name"
            [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com"
            class="input-box"
          />

          <mat-hint>Name</mat-hint>

          <mat-error
            *ngIf="name.hasError('userEmail') && !name.hasError('required')"
            class="validator-color"
          >
            Please enter a valid email address
          </mat-error>

          <mat-error *ngIf="name.hasError('required')" class="validator-color">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- <input type="text" class="text-input" /> -->
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>

          <input
            type="password"
            matInput
            [formControl]="message"
            [errorStateMatcher]="matcher"
            placeholder="Password"
          />

          <mat-hint>Enter Password</mat-hint>

          <mat-error
            *ngIf="message.hasError('message') && !message.hasError('required')"
            class="validator-color"
          >
            Please enter password.
          </mat-error>

          <mat-error
            *ngIf="message.hasError('required')"
            class="validator-color"
          >
            Please enter a valid password. Password is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="submit-container">
        <button class="submit-btn" type="submit">
          <h3>Send Message</h3>
        </button>
      </div>
    </form>
  </div>
</div>
