.navbar-container {
    height: 7vh;
    width: 100%;
    background-color: #eb8888;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-contianer {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-list-container {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menu-list {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.list-item {
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}

.list-item:hover {
    background-color: red;
}